# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Node / Next.js
node_modules/
.next/
out/

# OS files
.DS_Store
